 @import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Poppins:wght@200;300;400;700&display=swap");

@keyframes nextOut {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes nextIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes prevOut {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prevIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
} 
