.title {
  font-family: "Libre Baskerville", serif;
}
.titlekid {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.titlemember {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.accordion-content {
  transition: max-height 0.4s ease-out, padding 0.4s ease;
  max-height: 0;
}
