<script
  src="https://kit.fontawesome.com/d6d651f030.js"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="../styles/banner.css" />
<script src="https://cdn.tailwindcss.com"></script>
<div class="slide-container relative w-full bg-[#f7f7f7] mx-auto">
  <div
    class="text-wrapper text-[14px] cursor-pointer underline elative w-full h-[50px] mx-auto overflow-hidden text-center">
    <p
      class="active absolute underline underline-offset-1 w-full h-full top-[15px]">
      Big savings at Nike: Limited time!
    </p>
    <p
      class="absolute underline underline-offset-1 w-full h-full top-[15px] left-[-100%]">
      Score great deals at Nike today!
    </p>
    <p
      class="absolute underline underline-offset-1 w-full h-full top-[15px] left-[-100%]">
      Huge discounts on Nike products now!
    </p>
    <p
      class="absolute underline underline-offset-1 w-full h-full top-[15px] left-[-100%]">
      Shop now for Nike's best prices!
    </p>
    <p
      class="absolute underline underline-offset-1 w-full h-full top-[15px] left-[-100%]">
      Get your favorite Nike gear discounted!
    </p>
  </div>
  <div class="btn-container hidden">
    <button class="prev"><i class="fa-solid fa-angle-left"></i></button>
    <button class="next"><i class="fa-solid fa-angle-right"></i></button>
  </div>
</div>
<script src="../script/slider.js"></script>
