<div
  class="nav-bar bg-gray-100 justify-between items-center hidden sm:flex p-[10px]">
  <div class="max-w-[800px] text-center flex items-center justify-between mx-auto text-[12px] ">
    <i class="fa-solid fa-chevron-left hover:text-gray-300 cursor-grab text-[23px] pr-[110px]"></i>
    <p>
      Get exclusive discounts on Nike products today! <br />
      Limited time offer. Shop now and save big on your favorite gear!
    </p>
    <i class="fa-solid fa-chevron-right hover:text-gray-300 cursor-grab text-[23px] pl-[110px]"></i>
  </div>
</div>
