<!-- header section -->
<script src="https://cdn.tailwindcss.com"></script>

<div class=".header-layout items-center justify-center hidden md:flex">
  <header
    class="head-bar items-center justify-between w-full max-w-[1850px] h-[72px] flex p-6">
    <!-- logo nike -->
    <div class="imgage-logo size-[50px] flex items-center justify-between">
      <a class="jordan-logo" href="">
        <p class="text-[26px]">Men</p>
      </a>
    </div>
    <!-- right side text -->
    <div>
      <ul class="flex justify-center items-center gap-8 text-[16px]">
        <li>
          <a href="#"><span class="hover:text-sky-300">Shoes</span></a>
        </li>

        <li>
          <a href="#"><span class="hover:text-sky-300">Clothing</span></a>
        </li>

        <li>
          <a href="#"><span class="hover:text-sky-300">Accessories</span></a>
        </li>

        <li>
          <a href="#"><span class="hover:text-sky-300">Sale</span></a>
        </li>
      </ul>
    </div>
  </header>
</div>

<div>
  <img class="w-full" src="../images/home-picture/nav-pic.jpeg" alt="" />
</div>

<div class="container m-auto">
  <div class="text-center pt-[50px] pb-[20px]">
    <p class="font-medium">Step into the unreal</p>
    <h1 class="title font-bold md:text-[60px] text-[26px]">
      GEAR-UP FOR <br />
      THE MAJORS
    </h1>
    <p class="m-2">
      Swing into style and performance with Nike Golf: Where excellence meets
      comfort.
    </p>
    <button
      class="bg-black hover:bg-gray-500 text-white py-2 px-4 rounded-full mt-6">
      Shop the Collection
    </button>
  </div>
</div>

<!-- shop the essentials -->
<div class="bg-white flex justify-between max-w-[1850px] mx-auto p-4">
  <div class="w-full flex justify-between">
    <p class="text-[26px]">Shop the Essentials</p>
    <div class="gap-4 hidden sm:flex">
      <button
        id="right"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        id="right-btn"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="px-[20px]">
  <div class="max-w-[1850px] flex mx-auto overflow-x-scroll">
    <div class="flex gap-2 text-center">
      <div class="w-full">
        <div class="w-[530px]">
          <img
            class="w-full h-[520px] object-cover"
            src="../images/home-picture/y1.jpeg"
            alt="" />
          <p class="">Innovative design meets athletic performance.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[530px]">
          <img
            class="w-full h-[520px] object-cover"
            src="../images/home-picture/y2.jpeg"
            alt="" />
          <p class="">Premium materials for lasting comfort.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-[520px] object-cover"
            src="../images/home-picture/y3.jpeg"
            alt="" />
          <p class="">Iconic style with modern functionality.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-[520px] object-cover"
            src="../images/home-picture/Nike Court Vision Low.jpeg"
            alt="" />
          <p class="">Unmatched durability for active lifestyles.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-[520px] object-cover"
            src="../images/home-picture/Nike Club GÇô Futura GÇô Vit t-shirt.jpeg"
            alt="" />
          <p class="">Cutting-edge technology for peak performance.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- hero section -->
<div class="mx-auto items-center max-w-[1850px] h-[72px] flex py-[50px]">
  <p class="text-[26px] ml-[15px]">Marathon Speed Ahead</p>
</div>

<div>
  <img class="w-full" src="../images/home-picture/hero1.jpeg" alt="" />
</div>

<div class="container m-auto">
  <div class="text-center pt-[50px] pb-[20px]">
    <p class="font-medium">Nike Alphafly 3</p>
    <h1 class="title font-bold md:text-[60px] text-[26px]">
      LEAVE YOURSELF <br />
      IN THE DUST
    </h1>
    <p class="m-2">
      Stay fresh from the start mile 26.2 in the electic new colorway
    </p>
    <button
      class="bg-black hover:bg-gray-500 text-white py-2 px-4 rounded-full mt-6">
      Shop
    </button>
  </div>
</div>

<!-- Classic  spotlight -->

<div>
  <div
    class="w-full pt-6 pb-4 max-w-[1600px] mx-auto flex justify-between items-center">
    <p class="text-[26px]">Classic Spotlight</p>
    <span class="space-x-2">
      <button
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i></button
    ></span>
  </div>

  <div class="bg-white">
    <div class="max-w-[1600px] hidden md:flex mx-auto overflow-x-scroll">
      <div class="flex gap-2 text-center">
        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes1.jpeg"
              alt="" />
          </div>
        </div>
        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes2.jpeg"
              alt="" />
          </div>
        </div>
        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes3.jpeg"
              alt="" />
          </div>
        </div>
        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes4.png"
              alt="" />
          </div>
        </div>
        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes2.jpeg"
              alt="" />
          </div>
        </div>

        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes3.jpeg"
              alt="" />
          </div>
        </div>
        <div class="w-full">
          <div class="w-[300px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/shoes5.jpeg"
              alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex sm:hidden px-[20px]">
  <div class="max-w-[1850px] flex mx-auto overflow-x-scroll">
    <div class="flex gap-2 text-center">
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/shoes1.jpeg"
            alt="" />
          <p class="">Rise above, shine with Nike.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/shoes2.jpeg"
            alt="" />
          <p class="">Own your moment, choose Nike.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/shoes3.jpeg"
            alt="" />
          <p class="">Be bold, wear Nike proud.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/shoes4.png"
            alt="" />
          <p class="">Lead with Nike, inspire greatness</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/shoes5.jpeg"
            alt="" />
          <p class="">Embrace victory, run with Nike</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- feature -->
<section>
  <div
    class="w-full pt-6 pb-4 max-w-[1600px] mx-auto flex justify-between items-center">
    <p class="text-[26px]">Featured</p>
  </div>
  <!-- images -->
  <div class="flex gap-2 justify-center max-w-[1600px] mx-auto">
    <div class="relative hidden sm:flex">
      <div class="image-shop1">
        <img src="../images//home-picture/nike-just-do-it.jpg" alt="" />
      </div>
      <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Nike Alphafly 3</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Push Beyond What's Possible</span
          >
        </p>
        <button class="mt-2 bg-white px-4 py-1 rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

    <div class="relative hidden sm:flex">
      <div class="image-shop2">
        <img src="../images/home-picture/nike_lyhour.jpeg" alt="" />
      </div>
      <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Jordan New Arrivals</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Air Jordan 4 'Vivid Sulfur'</span
          >
        </p>
        <button class="mt-2 bg-white px-4 py-1 rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

    <!-- responsive -->
    <div class="relative flex sm:hidden px-[20px]">
      <div class="image-shop2">
        <img
          src="../images/home-picture/Nike Club crew neck sweat in red.jpeg"
          alt="" />
      </div>
      <div class="btn-shop2 absolute left-16 bottom-5 leading-8">
        <p>
          <span class="text-white">Maximize Air. Elevate Performance.</span>
        </p>
        <p>
          <span class="text-[20px] text-white"
            >'Unleash Your Potential. Fly Higher.'</span
          >
        </p>
        <button
          class="mt-2 bg-black px-4 py-1 rounded-full hover:bg-gray-300 text-white">
          Shop
        </button>
      </div>
    </div>
  </div>
</section>

<!-- member -->
<section>
  <div class="bg-white flex max-w-[1600px] mx-auto">
    <div class="w-full flex justify-between pt-[20px] pb-[10px]">
      <p class="text-[26px]">Member Benefits</p>
      <div class="gap-4 hidden sm:flex">
        <button class="hover:bg-gray-100 h-[40px] w-[75px] rounded-[20px]">
          Sign Up
        </button>
        <button
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  
  <!-- Membership images -->
  <div class="w-full">
    <div class="max-w-[1600px] gap-2 mx-auto">
      <div class="relative hidden sm:flex">
        <div class="image-shop2">
          <img
            class="w-full h-[500px] object-cover"
            src="../images/home-picture/m2.jpeg"
            alt="" />
        </div>
        <div class="absolute left-16 bottom-20 leading-8">
          <p><span class="text-white">Member Product</span></p>
          <p>
            <span class="text-white">Your Exclusive Access</span>
          </p>
          <button class="mt-2 bg-white px-4 py-1 rounded-full hover:bg-gray-300">
            Shop
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
