<!-- hero section -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" href="../styles/style.css" />

<section>
  <div class="hidden md:flex">
    <img class="w-full" src="../images/home-picture/hallanddddd.jpeg" alt="" />
  </div>

  <div class="flex md:hidden px-[10px]">
    <img class="w-full" src="../images/home-picture/hallen2.jpeg" alt="" />
  </div>

  <!-- slogan -->
  <div class="container w-full max-w-[1850px] mx-auto">
    <div class="text-center pt-[50px] pb-[20px]">
      <p>Step into the unreal</p>
      <h1 class="title font-bold md:text-[60px] text-[26px]">AIR MAX DN</h1>
      <p class="m-2">Dynamic Style of Sha'Carri Richardson</p>
      <button
        class="bg-black hover:bg-gray-500 text-white py-2 px-4 rounded-full mt-6">
        Shop
      </button>
    </div>
  </div>
</section>

<!-- Shop the Essential -->
<section class="w-full px-4 max-w-[1850px] pt-12 mx-auto">
  <div class="bg-white flex justify-between py-4">
    <div class="w-full flex justify-between">
      <p class="text-[26px]">Shop the Essentials</p>
      <div class="space-x-4">
        <button
          id="prev-btn"
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button
          id="next-btn"
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="w-full max-w-[1850px] flex mx-auto overflow-x-hidden">
    <div class="flex gap-2 text-start duration-300" id="slider">
      <div class="w-full" id="card-slider">
        <div class="w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w3.jpeg"
            alt="" />
          <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w5.jpeg"
            alt="" />
          <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w4.jpeg"
            alt="" />
          <h1 class="font-medium pt-2">Nike Dunk Low</h1>
        </div>
      </div>

      <div class="w-full" id="card-slider">
        <div class="w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w2.jpeg"
            alt="" />
          <h1 class="font-medium pt-2">Air Jordan 4 Retro</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- classic spotlight -->
<section>
  <div class="pt-10">
    <div
      class="flex max-w-[1850px] px-4 mx-auto text-[26px] justify-between items-center">
      <p class="py-[20px]">Featured</p>
    </div>
    <!-- images -->
    <div class="flex gap-2 px-4 justify-center max-w-[1850px] mx-auto">
      <div class="relative hidden md:flex">
        <div class="image-shop1">
          <img src="../images//home-picture/w6.jpeg" alt="" />
        </div>
        <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
          <p><span class="text-white">What Limit?</span></p>
          <p>
            <span class="text-[26px] text-white">Desgin Crew Collection</span>
          </p>
          <button
            class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
            Shop
          </button>
        </div>
      </div>

      <div class="relative hidden md:flex">
        <div class="image-shop2">
          <img src="../images/home-picture/w7.png" alt="" />
        </div>
        <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
          <p><span class="text-white">Expression in Motion</span></p>
          <p>
            <span class="text-[26px] text-white"
              >Refreshing Adventure Collection</span
            >
          </p>
          <button
            class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
            Shop
          </button>
        </div>
      </div>
    </div>

    <div class="relative flex md:hidden">
      <div class="image-shop1">
        <img src="../images//home-picture/nike-just-do-it.jpg" alt="" />
      </div>
      <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Nike Alphafly 3</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Push Beyond What's Possible</span
          >
        </p>
        <button
          class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>
    <div class="relative flex md:hidden mt-[8px]">
      <div class="image-shop2">
        <img src="../images/home-picture/nike_lyhour.jpeg" alt="" />
      </div>
      <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Jordan New Arrivals</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Air Jordan 4 'Vivid Sulfur'</span
          >
        </p>
        <button
          class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

    <!-- Classic  spotlight -->
    <div class="pt-10">
      <div
        class="w-full pt-6 pb-4 max-w-[1850px] mx-auto flex justify-between items-center">
        <p class="text-[26px]">Classic Spotlight</p>
        <span class="space-x-2">
          <button
            id="classic-prev"
            class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            id="classic-next"
            class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
            <i class="fa-solid fa-chevron-right"></i></button
        ></span>
      </div>
      <!-- content -->
      <div class="bg-white">
        <div class="max-w-[1850px] mx-auto overflow-x-hidden">
          <div class="flex gap-2 text-center duration-300" id="classic-slider">
            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes1.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes2.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes3.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes4.png"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes2.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes3.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes5.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes3.jpeg"
                  alt="" />
              </div>
            </div>

            <div class="w-full" id="classic-img">
              <div class="w-[300px]">
                <img
                  class="w-full h-full object-cover"
                  src="../images/home-picture/shoes1.jpeg"
                  alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- More to Explore -->
<section>
  <div
    class="flex max-w-[1850px] px-4 mx-auto pt-12 justify-between items-center">
    <p class="text-[26px] pb-4">More to Explore</p>
  </div>
  <div class="w-full max-w-[1850px] px-4 flex mx-auto overflow-x-hidden">
    <div class="flex gap-3 text-start duration-300">
      <div class="w-full">
        <div class="max-w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w8.png"
            alt="" />
          <h1 class="text-[20px] pt-2">New from Nike Running</h1>
          <button class="underline underline-offset-2 text-black pt-6">
            Shop
          </button>
        </div>
      </div>

      <div class="w-full">
        <div class="max-w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w9.jpeg"
            alt="" />
          <h1 class="text-[20px] pt-2">Killshot from Day to Night</h1>
          <button class="underline underline-offset-2 text-black pt-6">
            Shop
          </button>
        </div>
      </div>

      <div class="w-full">
        <div class="max-w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/w10.jpeg"
            alt="" />
          <h1 class="text-[20px] pt-2">Spring Golf Essential</h1>
          <button class="underline underline-offset-2 text-black pt-6">
            Shop
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- popular right now -->
<section class="w-full px-4 max-w-[1850px] pt-12 mx-auto">
    <div class="bg-white flex justify-between py-4">
      <div class="w-full flex justify-between">
        <p class="text-[26px]">Popular Rigth Now</p>
        <div class="space-x-4">
          <button
            id="prev-btn1"
            class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            id="next-btn1"
            class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full max-w-[1850px] flex mx-auto overflow-x-hidden">
      <div class="flex gap-2 text-start duration-300" id="slider1">
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/ws1.png"
              alt="" />
            <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
            <p class="text-gray-300 py-2">Big Kids' Shoes</p>
            <p class="text-[18px]">$130</p>
          </div>
        </div>
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/ws2.png"
              alt="" />
            <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
  
            <p class="text-gray-300 py-2">Big Kids' Shoes</p>
            <p class="text-[18px]">$140</p>
          </div>
        </div>
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/ws3.png"
              alt="" />
            <h1 class="font-medium pt-2">Nike Dunk Low</h1>
            <p class="text-gray-300 py-2">Baby/Toddler Shoes</p>
            <p class="text-[18px]">$190</p>
          </div>
        </div>
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/ws4.png"
              alt="" />
            <h1 class="font-medium pt-2">Air Jordan 4 Retro</h1>
            <p class="text-gray-300 py-2">Big Kids' Shoes</p>
            <p class="text-[18px]">$140</p>
          </div>
        </div>
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="object-cover"
              src="../images/home-picture/ws5.png"
              alt="" />
            <h1 class="font-medium pt-2">Jordan 4 Retro</h1>
            <p class="text-gray-300 py-2">Little Kids' Shoes</p>
            <p class="text-[18px]">$110</p>
          </div>
        </div>
  
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="object-cover"
              src="../images/home-picture/ky2.jpeg"
              alt="" />
            <h1 class="font-medium pt-2">Air Jordan 1 High OG</h1>
            <p class="text-gray-300 py-2">Big Kids' Shoes</p>
            <p class="text-[18px]">$140</p>
          </div>
        </div>
  
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="object-cover"
              src="../images/home-picture/f3.png"
              alt="" />
            <h1 class="font-medium pt-2">Ja 1 "Day</h1>
            <p class="text-gray-300 py-2">Big Kids' Shoes</p>
            <p class="text-[18px]">$130</p>
          </div>
        </div>
  
        <div class="w-full" id="card-slider1">
          <div class="w-[400px]">
            <img
              class="object-cover"
              src="../images/home-picture/Nike Air Max 97 Men's Shoe (Black).jpeg"
              alt="" />
            <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
            <p class="text-gray-300 py-2">Big Kids' Shoes</p>
            <p class="text-[18px]">$110</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- membership -->
<section class="pb-4 pt-6">
  <div
    class="w-full pt-6 pb-4 px-4 max-w-[1850px] mx-auto flex justify-between items-center">
    <p class="text-[26px]">Membership</p>
    <span class="space-x-2">
      <button
        id="prev-shop"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        id="next-shop"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i></button
    ></span>
  </div>

  <div class="max-w-[1850px] px-4 flex mx-auto overflow-x-hidden">
    <div class="flex gap-2 text-center duration-300" id="shop-slider">
      <!-- original card -->
      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m1.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Member Product</p>
            <p class="text-white text-[24px] pb-4">Your Exclusive Access</p>
            <button class="px-4 py-2 rounded-full bg-white">Shop</button>
          </div>
        </div>
      </div>

      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m2.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Member Rewards</p>
            <p class="text-white text-[24px] pb-4">How We Say Thank You</p>
            <button class="px-4 py-2 rounded-full bg-white">Celebration</button>
          </div>
        </div>
      </div>

      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m3.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Sports & Wellness Apps</p>
            <p class="text-white text-[24px] pb-4">Movement Where</p>
            <button class="px-4 py-2 rounded-full bg-white">Move</button>
          </div>
        </div>
      </div>

      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m4.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Nike By You</p>
            <p class="text-white text-[24px] pb-4">
              Your Customizztion Service
            </p>
            <button class="px-4 py-2 rounded-full bg-white">Customize</button>
          </div>
        </div>
      </div>

      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m5.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Your Ultimate</p>
            <p class="text-white text-[24px] pb-4">Sneaker Community</p>
            <button class="px-4 py-2 rounded-full bg-white">Explore</button>
          </div>
        </div>
      </div>

      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m6.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Member Interest</p>
            <p class="text-white text-[24px] pb-4">Shop Your Way</p>
            <button class="px-4 py-2 rounded-full bg-white">
              Add Interest
            </button>
          </div>
        </div>
      </div>

      <div class="w-full" id="card-shop">
        <div class="relative w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/m7.jpeg"
            alt="" />
          <div class="absolute bottom-10 left-10 flex flex-col items-start">
            <p class="text-white">Be Alive With Nike</p>
            <p class="text-white text-[24px] pb-4">
              Rise above, shine with Nike.
            </p>
            <button class="px-4 py-2 rounded-full bg-white">Shop</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

