<!-- hero section -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" href="../styles/style.css" />
<div class="bodyhome hidden sm:flex">
  <img class="w-full" src="../images/home-picture/nav-pic.jpeg" alt="" />
</div>
<div class="flex sm:hidden pt-[10px]">
  <img src="../images/home-picture/gokf.png" alt="" />
</div>

<div class="container m-auto">
  <div class="text-center pt-[50px] pb-[20px]">
    <p class="font-medium">Jame's Looks</p>
    <h1 class="title font-bold text-[60px]">
      GEAR-UP FOR <br />
      THE MAJORS
    </h1>
    <p class="m-2">
      How to golf sensation is gearing up for this season's Majors and beyond
    </p>
    <button
      class="bg-black hover:bg-gray-500 text-white py-2 px-4 rounded-full mt-6">
      Shop the Collection
    </button>
  </div>
</div>

<!-- trending head -->
<div class="bg-white flex justify-between max-w-[1600px] m-auto p-4">
  <div class="w-full flex justify-between">
    <p class="text-[26px]">Trending</p>
    <div class="gap-4 hidden sm:flex">
      <button
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<!-- ss -->

<!-- <div class="justify-center flex sm:hidden mx-[20px]">
  <div class="relative flex sm:hidden">
    <div class="image-shop2">
      <img src="../images/home-picture/Nike Womens campaign for Womens World Cup 2019 (Nike).jpeg" alt="" />
    </div>
    <div class="btn-shop2 absolute left-16 bottom-5 leading-8">
      <p><span class="text-white">Campaign for World Cup 2024</span></p>
      <p><span class="text-[26px] text-white">'NIKE CLUB'</span></p>
      <button class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">Shop</button>
    </div>
  </div>
</div> -->

<!-- trending responsive -->
<div class="flex sm:hidden px-[20px]">
  <div class="max-w-[1600px] flex mx-auto overflow-x-scroll">
    <div class="flex gap-2 text-center">
      <div class="w-full">
        <div class="w-[530px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e1.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[530px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e2.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e3.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e4.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e5.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- trending image -->
<div class="hidden sm:flex">
  <div class="max-w-[1600px] flex mx-auto overflow-x-scroll">
    <div class="flex gap-2 text-center">
      <div class="w-full">
        <div class="w-[530px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e1.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[530px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e2.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e3.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e4.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e5.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- feature head -->
<div class="p-[20px]">
  <div
    class="flex max-w-[1600px] mx-auto text-[26px] m-auto justify-between items-center">
    <p>Featured</p>
  </div>
  <!-- images -->
  <div class="flex gap-2 justify-center max-w-[1600px] mx-auto">
    <div class="relative hidden sm:flex">
      <div class="image-shop1">
        <img src="../images//home-picture/nike-just-do-it.jpg" alt="" />
      </div>
      <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Nike Alphafly 3</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Push Beyond What's Possible</span
          >
        </p>
        <button
          class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

    <div class="relative hidden sm:flex">
      <div class="image-shop2">
        <img src="../images/home-picture/nike_lyhour.jpeg" alt="" />
      </div>
      <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Jordan New Arrivals</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Air Jordan 4 'Vivid Sulfur'</span
          >
        </p>
        <button
          class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

    <!-- responsive -->
    <!-- <div class="relative flex sm:hidden">
      <div class="image-shop2">
        <img src="../images/home-picture/e2.jpeg" alt="" />
      </div>
      <div class="btn-shop2 absolute left-16 bottom-5 leading-8">
        <p><span class="text-red-400">Maximize Air. Elevate Performance.</span></p>
        <p><span class="text-[20px] text-red-400">'Unleash Your Potential. Fly Higher.'</span></p>
        <button class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300 text-red-400">Shop</button>
      </div>
    </div> -->
  </div>
  <div class="relative flex sm:hidden">
    <div class="image-shop1">
      <img src="../images//home-picture/nike-just-do-it.jpg" alt="" />
    </div>
    <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
      <p><span class="text-white">Nike Alphafly 3</span></p>
      <p>
        <span class="text-[26px] text-white">Push Beyond What's Possible</span>
      </p>
      <button
        class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
        Shop
      </button>
    </div>
  </div>
  <div class="relative flex sm:hidden mt-[8px]">
    <div class="image-shop2">
      <img src="../images/home-picture/nike_lyhour.jpeg" alt="" />
    </div>
    <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
      <p><span class="text-white">Jordan New Arrivals</span></p>
      <p>
        <span class="text-[26px] text-white">Air Jordan 4 'Vivid Sulfur'</span>
      </p>
      <button
        class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
        Shop
      </button>
    </div>
  </div>
  <!-- end feature -->

  <!-- classics Spotlight -->
  <!-- <div class="bg-red-300 p-10">

  <div class="text-[26px]">
    <p class="ml-2">Classics Spotlight</p>
  </div>


  <div class="">
    <div class="flex">
      <button class="btn"><i class="fa-solid fa-chevron-left"></i></button>

      <div class="shoes-model">
        <img src="../images/home-picture/shoes1.jpeg" alt="" />
      </div>
      <div class="shoes-model">
        <img src="../images/home-picture/shoes2.jpeg" alt="" />
      </div>
      <div class="shoes-model">
        <img src="../images/home-picture/shoes3.jpeg" alt="" />
      </div>
      <div class="shoes-model">
        <img src="../images/home-picture/shoes4.jpng" alt="" />
      </div>
      <div class="shoes-model">
        <img src="../images/home-picture/shoes5.jpeg" alt="" />
      </div>
      <button class="btn"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>

</div> -->

  <!-- classic -->

  <div class="bg-white flex justify-between max-w-[1600px] m-auto p-4">
    <div class="w-full flex justify-between">
      <p class="text-[26px]">Trending</p>
      <div class="gap-4 hidden sm:flex">
        <button
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="hidden sm:flex">
    <div class="max-w-[1600px] flex mx-auto overflow-x-scroll">
      <div class="flex gap-2 text-center">
        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p1.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>
        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p2.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>
        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p3.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>
        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p4.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>
        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p5.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>

        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p6.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>

        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p7.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>

        <div class="w-full">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/p8.png"
              alt="" />
            <p class="">Nike apparel merges fashion, function.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- smmm -->
<div class="flex sm:hidden">
  <div class="max-w-[1600px] flex mx-auto overflow-x-scroll">
    <div class="flex gap-2 text-center">
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p1.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p2.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p3.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p4.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p5.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>

      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p6.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>

      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p7.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>

      <div class="w-full">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/p8.png"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
    </div>
  </div>
</div>
