<!-- hero section -->
<hero-section-component imgURL_1="../images/home-picture/cama.jpeg" imgURL_2="../images/home-picture/homenikeres.jpeg"
  miniTitle="Step into the unreal" title_1="GEAR-UP FOR" title_2="THE MAJORS" description="Swing into style and performance with Nike Golf: Where excellence meets
        comfort." button="Shop the Collection">

</hero-section-component>

<!-- trending -->
<carousel-component data='[
  {
    "img": "../images/home-picture/e1.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },

  {
    "img": "../images/home-picture/e2.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/e3.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/e4.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/e5.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/e1.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/e2.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/e3.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  }
]'>
</carousel-component>

<!-- feature head -->
<feature-design-component></feature-design-component>

<!-- Shop by sport -->
<carousel-component data='[
  {
    "img": "../images/home-picture/black1.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },

  {
    "img": "../images/home-picture/black2.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/black3.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/black4.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/black5.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/black6.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/black7.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  },
  {
    "img": "../images/home-picture/black8.jpeg",
    "description": "Nike apparel merges fashion, function.",
    "price": ""
  }
]'>
</carousel-component>

<!-- Classic  spotlight -->
<carousel-component data='[
  {
    "img": "../images/home-picture/shoes1.jpeg",
    "description": "",
    "price": ""
  },

  {
    "img": "../images/home-picture/shoes2.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes3.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes4.png",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes5.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes6.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes7.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes1.jpeg",
    "description": "",
    "price": ""
  }
]'>
</carousel-component>