<!-- header section -->
<div class=".header-layout items-center justify-center hidden md:flex">
  <header class="head-bar items-center justify-between w-full max-w-[1850px] h-[72px] flex p-6">
    <!-- logo nike -->
    <div class="imgage-logo size-[50px] flex items-center justify-between">
      <a class="jordan-logo" href="">
        <p class="text-[26px]">Men</p>
      </a>
    </div>
    <!-- right side text -->
    <div>
      <ul class="flex justify-center items-center gap-8 text-[16px]">
        <li>
          <a href="#"><span class="hover:text-sky-300">Shoes</span></a>
        </li>

        <li>
          <a href="#"><span class="hover:text-sky-300">Clothing</span></a>
        </li>

        <li>
          <a href="#"><span class="hover:text-sky-300">Accessories</span></a>
        </li>

        <li>
          <a href="#"><span class="hover:text-sky-300">Sale</span></a>
        </li>
      </ul>
    </div>
  </header>
</div>

<hero-section-component imgURL_1="../images/home-picture/halenman.jpeg" imgURL_2="../images/home-picture/solohalen.jpeg"
  miniTitle="Step into the unreal" title_1="GEAR-UP FOR" title_2="THE MAJORS" description="Swing into style and performance with Nike Golf: Where excellence meets
        comfort." button="Shop the Collection">
</hero-section-component>

<!-- shop the essential  -->
<carousel-component title="Shop the essential" data='[
  {
    "img": "../images/home-picture/y1.jpeg",
    "description": "",
    "price": ""
  },

  {
    "img": "../images/home-picture/y2.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/y3.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/y1.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/y3.jpeg",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/y2.jpeg",
    "description": "",
    "price": ""
  }
]'>
</carousel-component>

<!-- hero section -->
<section>
  <div class="mx-auto items-center max-w-[1850px] h-[72px] flex py-[50px]">
    <p class="text-[26px] ml-[15px]">Marathon Speed Ahead</p>
  </div>

  <div>
    <img class="w-full" src="../images/home-picture/hero1.jpeg" alt="" />
  </div>
</section>

<!-- slogan section -->
<section class="container m-auto">
  <div class="text-center pt-[50px] pb-[20px]">
    <p class="font-medium">Nike Alphafly 3</p>
    <h1 class="title font-bold md:text-[60px] text-[26px]">
      LEAVE YOURSELF <br />
      IN THE DUST
    </h1>
    <p class="m-2">
      Stay fresh from the start mile 26.2 in the electic new colorway
    </p>
    <button class="bg-black hover:bg-gray-500 text-white py-2 px-4 rounded-full mt-6">
      Shop
    </button>
  </div>
</section>

<!-- feature -->
<feature-design-component></feature-design-component>

<!-- Classic  spotlight -->
<carousel-component title="Classic  Spotlight" data='[
  {
    "img": "../images/home-picture/shoes1.jpeg",
    "title": "",
    "description": "",
    "price": ""
  },

  {
    "img": "../images/home-picture/shoes2.jpeg",
    "title": "",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes3.jpeg",
    "title": "",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes4.png",
    "title": "",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes5.jpeg",
    "title": "",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes6.jpeg",
    "title": "",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes7.jpeg",
    "title": "",
    "description": "",
    "price": ""
  },
  {
    "img": "../images/home-picture/shoes1.jpeg",
    "title": "",
    "description": "",
    "price": ""
  }
]'>
</carousel-component>

<!-- membership -->
<membership-component></membership-component>