<!-- hero section -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" href="../styles/style.css" />

<div class="bodyhome hidden md:flex">
  <img class="w-full" src="../images/home-picture/cama.jpeg" alt="" />
</div>

<div class="flex md:hidden px-[10px]">
  <img class="w-full" src="../images/home-picture/gokf.png" alt="" />
</div>

<!-- slogan -->
<div class="container w-full max-w-[1850px] mx-auto">
  <div class="text-center pt-[50px] pb-[20px]">
    <p class="font-medium">Step into the unreal</p>
    <h1 class="title font-bold md:text-[60px] text-[26px]">
      GEAR-UP FOR <br />
      THE CHAMPIONS
    </h1>
    <p class="m-2">Dynamic Camavinga -- everywhere all at once.</p>
    <button
      class="bg-black hover:bg-gray-500 text-white py-2 px-4 rounded-full mt-6">
      Shop the Collection
    </button>
  </div>
</div>

<!-- trending head -->
<div class="bg-white flex justify-between w-full max-w-[1600px] mx-auto py-4">
  <div class="w-full flex justify-between mx-4">
    <p class="text-[26px]">Trending</p>
    <div class="gap-4">
      <button id="prev-btn"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button id="next-btn"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>

<!-- trending image -->
<div class="px-[20px]">
  <div class="w-full max-w-[1600px] flex mx-auto overflow-x-hidden">
    <div class="flex gap-2 text-center duration-300 " id="slider">
      <div class="w-full" id="card-slider">
        <div class="w-[530px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e1.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[530px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e2.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e3.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e4.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[520px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/e5.jpeg"
            alt="" />
          <p class="">Nike apparel merges fashion, function.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- feature head -->
<div class="p-[20px] pt-10">
  <div
    class="flex max-w-[1600px] mx-auto text-[26px] justify-between items-center">
    <p class="py-[20px]">Featured</p>
  </div>
  <!-- images -->
  <div class="flex gap-2 justify-center max-w-[1600px] mx-auto">
    <div class="relative hidden md:flex">
      <div class="image-shop1">
        <img src="../images//home-picture/nike-just-do-it.jpg" alt="" />
      </div>
      <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Nike Alphafly 3</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Push Beyond What's Possible</span
          >
        </p>
        <button
          class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

    <div class="relative hidden md:flex">
      <div class="image-shop2">
        <img src="../images/home-picture/nike_lyhour.jpeg" alt="" />
      </div>
      <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
        <p><span class="text-white">Jordan New Arrivals</span></p>
        <p>
          <span class="text-[26px] text-white"
            >Air Jordan 4 'Vivid Sulfur'</span
          >
        </p>
        <button
          class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
          Shop
        </button>
      </div>
    </div>

  <!-- responsive -->
  </div>

  <div class="relative flex md:hidden">
    <div class="image-shop1">
      <img src="../images//home-picture/nike-just-do-it.jpg" alt="" />
    </div>
    <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
      <p><span class="text-white">Nike Alphafly 3</span></p>
      <p>
        <span class="text-[26px] text-white">Push Beyond What's Possible</span>
      </p>
      <button
        class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
        Shop
      </button>
    </div>
  </div>
  <div class="relative flex md:hidden mt-[8px]">
    <div class="image-shop2">
      <img src="../images/home-picture/nike_lyhour.jpeg" alt="" />
    </div>
    <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
      <p><span class="text-white">Jordan New Arrivals</span></p>
      <p>
        <span class="text-[26px] text-white">Air Jordan 4 'Vivid Sulfur'</span>
      </p>
      <button
        class="mt-2 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
        Shop
      </button>
    </div>
  </div>

  <!-- Shop by sport -->
  <div
    class="w-full pt-10 pb-4 max-w-[1600px] mx-auto flex justify-between items-center">
    <p class="text-[26px]">Shop By Sport</p>
    <span class="space-x-2">
      <button id="prev-shop"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button id="next-shop"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i></button
    ></span>
  </div>
  <div class="">
    <div class="max-w-[1600px] flex mx-auto overflow-x-hidden ">
      <div class="flex gap-2 text-center duration-300" id="shop-slider">
        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black1.jpeg"
              alt="" />
            <p class="">Rise above, shine with Nike.</p>
          </div>
        </div>
        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black2.jpeg"
              alt="" />
            <p class="">Own your moment, choose Nike.</p>
          </div>
        </div>
        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black3.jpeg"
              alt="" />
            <p class="">Be bold, wear Nike proud.</p>
          </div>
        </div>
        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black4.jpeg"
              alt="" />
            <p class="">Lead with Nike, inspire greatness.</p>
          </div>
        </div>
        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black5.jpeg"
              alt="" />
            <p class="">Embrace victory, run with Nike.</p>
          </div>
        </div>

        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black6.jpeg"
              alt="" />
            <p class="">Defy limits, excel with Nike.</p>
          </div>
        </div>

        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black7.jpeg"
              alt="" />
            <p class="">Chase dreams, fueled by Nike.</p>
          </div>
        </div>

        <div class="w-full" id="card-shop">
          <div class="w-[400px]">
            <img
              class="w-full h-full object-cover"
              src="../images/home-picture/black8.jpeg"
              alt="" />
            <p class="">Unleash power, embrace Nike's spirit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Classic  spotlight -->
  <div class="pt-10">
    <div
      class="w-full pt-6 pb-4 max-w-[1600px] mx-auto flex justify-between items-center">
      <p class="text-[26px]">Classic Spotlight</p>
      <span class="space-x-2">
        <button id="classic-prev"
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button id="classic-next"
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-right"></i></button
      ></span>
    </div>

    <div class="bg-white">
      <div class="max-w-[1600px] mx-auto overflow-x-hidden">
        <div class="flex gap-2 text-center duration-300" id="classic-slider">
          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes1.jpeg"
                alt="" />
            </div>
          </div>
          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes2.jpeg"
                alt="" />
            </div>
          </div>
          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes3.jpeg"
                alt="" />
            </div>
          </div>
          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes4.png"
                alt="" />
            </div>
          </div>
          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes2.jpeg"
                alt="" />
            </div>
          </div>

          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes3.jpeg"
                alt="" />
            </div>
          </div>
          <div class="w-full" id="classic-img">
            <div class="w-[400px]">
              <img
                class="w-full h-full object-cover"
                src="../images/home-picture/shoes5.jpeg"
                alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
