<script src="../script/carousel.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

<carousel-component imgUrl='[
    "../images/home-picture/a11.jpeg",
     "../images/home-picture/a2.jpeg",
      "../images/home-picture/a3.jpeg",
      "../images/home-picture/a6.jpeg",
      "../images/home-picture/a8.jpeg",
      "../images/home-picture/a12.jpeg",
      "../images/home-picture/a13.jpeg",
      "../images/home-picture/a15.jpeg",
      "../images/home-picture/a16.jpeg",
      "../images/home-picture/a17.jpeg",
      "../images/home-picture/a18.jpeg",
      "../images/home-picture/a13.jpeg"
      ]'>
</carousel-component>