<link rel="stylesheet" href="../styles/style.css" />

<header id="responsive-pick"
  class="sticky top-0 z-[5] bg-white max-w-[1850px] mx-auto px-6 py-4 flex items-center justify-between">
  <div class="imgage-logo flex items-center justify-between">
    <p class="lg:text-[26px] text-[20px]">New Releases (2271)</p>
  </div>
  <!-- right side text -->
  <div>
    <ul class="flex justify-center items-center gap-8 text-[16px]">
      <li id="filter-btn" class="hidden lg:flex items-center gap-2">
        <span class="cursor-pointer">Hide Filters</span
        ><img
          class="size-[20px] cursor-pointer"
          src="../images/home-icon/newspaper.png"
          alt="" />
      </li>

      <li id="responsive-btn" class="flex lg:hidden items-center gap-2">
        <span class="cursor-pointer">Filters</span
        ><img
          class="size-[20px] cursor-pointer"
          src="../images/home-icon/newspaper.png"
          alt="" />
      </li>

      <li class="flex items-center gap-2">
        <a href="#"
          ><span id="text-filter" class="hover:text-gray-300">Sort By</span></a
        >
        <a href=""
          ><img
            class="size-[20px]"
            src="../images/home-icon/down-arrow.png"
            alt=""
        /></a>
      </li>
    </ul>
  </div>
</header>
<!-- responsive -->
<hr class="flex lg:hidden h-[1px] bg-gray-200 border-0" />
<div class="flex lg:hidden justify-between py-2 items-center px-6">
  <p class="text-[16px]">Pick Up Today</p>
  <label class="switch">
    <input type="checkbox" />
    <span class="slider"></span>
  </label>
</div>
<hr class="flex lg:hidden h-[1px] mb-4 bg-gray-200 border-0 " />

<!-- sidebar -->
<section class="max-w-[1850px] flex mx-auto px-6">
  <aside
    id="filterItems"
    class="sticky top-16 lg:w-[20%] h-screen lg:overflow-y-scroll overflow-hidden">
    <div class="hidden lg:flex lg:flex-col">
      <div class="flex justify-between items-center">
        <p>Pick Up Today</p>
        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- goods -->
      <div class="">
        <p>Shoes</p>
        <p class="pt-2">Tops & T-Shirts</p>
        <p class="pt-2">Shorts</p>
        <p class="pt-2">Hoodies & Pullovers</p>
        <p class="pt-2">Jackets & Vests</p>
        <p class="pt-2">Pants & Tights</p>
        <p class="pt-2">Swimming</p>
        <p class="pt-2">Socks</p>
        <p class="py-2">
          Accessories & <br />
          Equipment
        </p>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- gender -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Gender</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Men</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Women</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Unisex</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- kids -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Kids</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Boys</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Girls</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Shop by Price -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Shop by Price</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">$0 - $25</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">$25 - $50</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">$50 - $100</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">$100 - $150</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Over $150</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Color -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Color</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <!-- grid color -->
        <div class="grid grid-cols-3 grid-rows-4 gap-3 pt-6">
          <div class="flex flex-col items-center">
            <div
              class="w-[26px] h-[26px] rounded-full bg-purple-500 mb-2"></div>
            <p class="text-center">Purple</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-black mb-2"></div>
            <p class="text-center">Black</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-red-500 mb-2"></div>
            <p class="text-center">Red</p>
          </div>
          <div class="flex flex-col items-center">
            <div
              class="w-[26px] h-[26px] rounded-full bg-orange-500 mb-2"></div>
            <p class="text-center">Orange</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-blue-500 mb-2"></div>
            <p class="text-center">Blue</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-white mb-2"></div>
            <p class="text-center">White</p>
          </div>
          <div class="flex flex-col items-center">
            <div
              class="w-[26px] h-[26px] rounded-full bg-yellow-700 mb-2"></div>
            <p class="text-center">Brown</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-green-600 mb-2"></div>
            <p class="text-center">Green</p>
          </div>
          <div class="flex flex-col items-center">
            <div
              class="w-[26px] h-[26px] rounded-full bg-yellow-500 mb-2"></div>
            <p class="text-center">Yellow</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-lime-500 mb-2"></div>
            <p class="text-center">Lime</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-gray-500 mb-2"></div>
            <p class="text-center">Gray</p>
          </div>
          <div class="flex flex-col items-center">
            <div class="w-[26px] h-[26px] rounded-full bg-pink-500 mb-2"></div>
            <p class="text-center">Pink</p>
          </div>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Sports & Activities -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Sports & Activities</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Lifestyle</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Running</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Training & Gym</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Yoga</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Football</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Basketball</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Voleyball</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Golf</p>
        </div>

        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Tennis</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Swimming</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- athletes -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Athletes</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">LeBron James</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Kevin Durant</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Serena Williams</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Rafael Nadal</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Giannis</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Lyhour</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Zion Williamson</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Russell Westbrook</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- brand -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Brand</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Nike Sportswear</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Jordan</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Nike By You</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Converse</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">NikeLab</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">ACG</p>
        </div>

        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Nike Pro</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Collections -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Collections</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Air Force 1</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Air Max</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Alpha Huarache</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Cortez</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Collaborator -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Collaborator</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Nike x MMW</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">
            Doernbecher <br />
            Freestyle
          </p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Sale & Offers -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Sale & Offers</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Price in Bag</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Sale</p>
        </div>
      </div>
      <hr class="h-[1px] my-4 bg-gray-200 border-0" />

      <!-- Best For -->
      <div class="">
        <div class="flex justify-between items-center">
          <p class="font-medium">Best For</p>
          <img
            class="size-[20px]"
            src="../images/home-icon/upload.png"
            alt="" />
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Wet Weather</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Cold Weather</p>
        </div>
        <div class="flex items-center gap-2">
          <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
          <p class="pt-2">Dry Weather</p>
        </div>
      </div>
    </div>
  </aside>

  <!-- card container -->
  <!-- <div id="right-content" class="grid grid-cols-3 gap-2 px-4 w-[82%] h-full bg-sky-300">

   
    <div class=" bg-blue-200">
      <img src="../images/home-picture/f1.png" alt="">
      <h1 class="text-red-700 font-medium">Just In</h1>
      <h1 class="font-medium">Air Jordan 1 Retro High OG</h1>
      <p class="text-gray-300" >Men's Shoes</p>
      <p class="text-gray-300">1 Color</p>
      <h1 class="font-medium">$180</h1>
    </div>
    <div class=" bg-blue-200">
      <img src="../images/home-picture/f1.png" alt="">
      <h1 class="text-red-700 font-medium">Just In</h1>
      <h1 class="font-medium">Air Jordan 1 Retro High OG</h1>
      <p class="text-gray-300" >Men's Shoes</p>
      <p class="text-gray-300">1 Color</p>
      <h1 class="font-medium">$180</h1>
    </div>
    <div class=" bg-blue-200">
      <img src="../images/home-picture/f1.png" alt="">
      <h1 class="text-red-700 font-medium">Just In</h1>
      <h1 class="font-medium">Air Jordan 1 Retro High OG</h1>
      <p class="text-gray-300" >Men's Shoes</p>
      <p class="text-gray-300">1 Color</p>
      <h1 class="font-medium">$180</h1>
    </div>
   
   
    
  </div> -->
  <div class="flex flex-col">
    <featured-component></featured-component>
    <featured-component></featured-component>
    <featured-component></featured-component>
    <featured-component></featured-component>
    <featured-component></featured-component>
    <featured-component></featured-component>
    <featured-component></featured-component>
    <featured-component></featured-component>
  </div>
</section>

<!-- responsive filter -->
<div id="responsive-filter" class="bg-white z-[4] w-full absolute top-100 transition-all duration-300 transform px-4">
  <div class="flex justify-between items-center mt-4">
    <p>Pick Up Today</p>
    <img id="close-filter" class="size-[20px] cursor-pointer" src="../images/home-icon/close.png" alt="">
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- goods -->
  <div class="">
    <p>Shoes</p>
    <p class="pt-2">Tops & T-Shirts</p>
    <p class="pt-2">Shorts</p>
    <p class="pt-2">Hoodies & Pullovers</p>
    <p class="pt-2">Jackets & Vests</p>
    <p class="pt-2">Pants & Tights</p>
    <p class="pt-2">Swimming</p>
    <p class="pt-2">Socks</p>
    <p class="py-2">
      Accessories & <br />
      Equipment
    </p>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- gender -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Gender</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Men</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Women</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Unisex</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- kids -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Kids</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Boys</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Girls</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Shop by Price -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Shop by Price</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">$0 - $25</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">$25 - $50</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">$50 - $100</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">$100 - $150</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Over $150</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Color -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Color</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <!-- grid color -->
    <div class="grid grid-cols-3 grid-rows-4 gap-3 pt-6">
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-purple-500 mb-2"></div>
        <p class="text-center">Purple</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-black mb-2"></div>
        <p class="text-center">Black</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-red-500 mb-2"></div>
        <p class="text-center">Red</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-orange-500 mb-2"></div>
        <p class="text-center">Orange</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-blue-500 mb-2"></div>
        <p class="text-center">Blue</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] border-[1px] h-[26px] rounded-full bg-white mb-2"></div>
        <p class="text-center">White</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-yellow-700 mb-2"></div>
        <p class="text-center">Brown</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-green-600 mb-2"></div>
        <p class="text-center">Green</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-yellow-500 mb-2"></div>
        <p class="text-center">Yellow</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-lime-500 mb-2"></div>
        <p class="text-center">Lime</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-gray-500 mb-2"></div>
        <p class="text-center">Gray</p>
      </div>
      <div class="flex flex-col items-center">
        <div class="w-[26px] h-[26px] rounded-full bg-pink-500 mb-2"></div>
        <p class="text-center">Pink</p>
      </div>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Sports & Activities -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Sports & Activities</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Lifestyle</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Running</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Training & Gym</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Yoga</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Football</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Basketball</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Voleyball</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Golf</p>
    </div>

    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Tennis</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Swimming</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- athletes -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Athletes</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">LeBron James</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Kevin Durant</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Serena Williams</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Rafael Nadal</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Giannis</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Lyhour</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Zion Williamson</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Russell Westbrook</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- brand -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Brand</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Nike Sportswear</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Jordan</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Nike By You</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Converse</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">NikeLab</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">ACG</p>
    </div>

    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Nike Pro</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Collections -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Collections</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Air Force 1</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Air Max</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Alpha Huarache</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Cortez</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Collaborator -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Collaborator</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Nike x MMW</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">
        Doernbecher <br />
        Freestyle
      </p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Sale & Offers -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Sale & Offers</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Price in Bag</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Sale</p>
    </div>
  </div>
  <hr class="h-[1px] my-4 bg-gray-200 border-0" />

  <!-- Best For -->
  <div class="">
    <div class="flex justify-between items-center">
      <p class="font-medium">Best For</p>
      <img class="size-[20px]" src="../images/home-icon/upload.png" alt="" />
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Wet Weather</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Cold Weather</p>
    </div>
    <div class="flex items-center gap-2">
      <input class="w-[20px] h-[20px] cursor-pointer" type="checkbox" />
      <p class="pt-2">Dry Weather</p>
    </div>
  </div>
</div>
