<link rel="stylesheet" href="../styles/style.css" />
<div class="w-full menu-bottom-container hidden md:flex px-4">
  <div class="max-w-[1850px] menu-bottom">
    <div class="f1">
      <p>Featured</p>
      <a href="#">Air Force 1</a>
      <a href="#">Jordan 1</a>
      <a href="#">Metcon</a>
      <a href="#">Air Max 270</a>
    </div>

    <div class="f1">
      <p>Shoes</p>
      <a href="#">All Shoes</a>
      <a href="#">Jordan Shoes</a>
      <a href="#">Basketball Shoes</a>
      <a href="#">Tennis Shoes</a>
      <a href="#">Custom Shoes</a>
    </div>

    <div class="f1">
      <p>Clothing</p>
      <a href="#">All Clothing</a>
      <a href="#">Tops & T-Shirts</a>
      <a href="#">Shorts</a>
      <a href="#">Hoodies & Pullovers</a>
      <a href="#">Joggers & Sweatpants</a>
      <a href="#">Sports Bras</a>
    </div>

    <div class="f1">
      <p>Kids</p>
      <a href="#">Infant & Toddler Shoes</a>
      <a href="#">Kids Shoes</a>
      <a href="#">Kids Basketball Shoes</a>
      <a href="#">Kids Running Shoes</a>
      <a href="#">Kids Backpacks</a>
      <a href="#">Kids Socks</a>
    </div>
  </div>
</div>

<div class="flex sm:hidden max-w-[1600px] justify-between mx-auto">
  <ul class="leading-[40px] flex flex-col p-6">
    <a class="hover:text-gray-300" href="#">Men's Shoes</a>
    <a class="hover:text-gray-300" href="#">Men's Clothing</a>
    <a class="hover:text-gray-300" href="#">Men's Gear</a>
    <a class="hover:text-gray-300" href="#">Featured</a>
  </ul>
</div>

<div class="footer-container">
  <div class="footer md:flex-col md:flex">
    <div class="right-text">
      <ul>
        <li><a href="#">RESOURCES</a></li>
        <li><a href="#">GIFT CARDS</a></li>
        <li><a href="#">FIND A STORE</a></li>
        <li><a href="#">BECOME A MEMBER</a></li>
        <li><a href="#">NIKE X NBA</a></li>
        <li><a href="#">NIKE JOURNAL</a></li>
        <li><a href="#">Site Feedback</a></li>
      </ul>
    </div>
    <ul>
      <li><a class="head" href="#">HELP</a></li>
      <li><a href="#">Get Help</a></li>
      <li><a href="#">Order Status</a></li>
      <li><a href="#">Shipping and Delivery</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="#">Order Cancellation</a></li>
      <li><a href="#">Payment Options</a></li>
      <li><a href="#">Gift Card Balance</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

    <ul>
      <li><a class="head" href="#">COMPANY</a></li>
      <li><a href="#">About Nike</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Investors</a></li>
      <li><a href="#">Purpose</a></li>
      <li><a href="#">Sustainability</a></li>
    </ul>

    <ul>
      <li><a class="head" href="#">PROMOTIONS & DISCOUNTS</a></li>
      <li><a href="#">Student</a></li>
      <li><a href="#">Military</a></li>
      <li><a href="#">Teacher</a></li>
      <li><a href="#">First Responders & Medical</a></li>
      <li><a href="#">Professionals</a></li>
      <li><a href="#">Birthday</a></li>
    </ul>

    <ul class="flex">
      <a href="#"><img src="../images/home-icon/twitter.svg" alt="" /></a>
      <a href="#"><img src="../images/home-icon/facebook.svg" alt="" /></a>
      <a href="#"><img src="../images/home-icon/youtube.svg" alt="" /></a>
      <a href="#"><img src="../images/home-icon/instagram.svg" alt="" /></a>
    </ul>
  </div>

  <div class="sub-footer-container">
    <div class="sub-footer">
      <ul>
        <li>
          <a class="flex" href="#"
            >
          >
        </li>
        <p>© 2024 Nike, Inc. All Rights Reserved</p>
        <p>Guides</p>
        <p>Terms of Sale</p>
        <p>Terms of Use</p>
        <p>Nike Privacy Policy</p>
        <p>Your Privacy ChoicesYour Privacy Choices</p>
        <p>CA Supply Chains Act</p>
      </ul>
    </div>
  </div>
</div>
