<!-- header section -->
<script src="https://cdn.tailwindcss.com"></script>

<div class=".header-layout bg-gray-100 flex items-center justify-center">
  <header class="head-bar items-center justify-between w-full max-w-[1850px] h-[36px] hidden md:flex">
    <!-- logo nike -->
    <div class="imgage-logo size-[50px] flex items-center justify-between">
      <a class="jordan-logo" href=""
        ><img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Jumpman_logo.svg/1200px-Jumpman_logo.svg.png"
          alt=""
      /></a>
      <a
        aria-label="Converse"
        data-type="click_navBrandBar"
        data-path="Converse"
        href="https://www.nike.com/w/converse-shoes-akmjxzy7ok"
        class="pre-brand-item d-sm-ib prl3-sm"
        data-pre="ILink"
        ><svg height="24px" width="24px" fill="#111" viewBox="0 0 39 33">
          <path
            d="M10.94 25.626l-4.236-5.501L.201 22.28l3.734-5.756L.11 10.777l6.59 2.031 4.026-5.474.14 6.785 6.64 2.175-6.594 2.446.028 6.886zm.824 7.239l13.952-16.393L11.806.107h11.697l14.871 16.389-14.8 16.369h-11.81z"></path>
        </svg>
      </a>
    </div>
    <!-- right side text -->
    <div >
      <ul class="flex justify-center items-center gap-2 text-[12px] ">
        <li>
          <a href="#"><span class="hover:text-sky-300">Find a Store</span></a>
        </li>
        <div class="line h-[18px] w-[1px] bg-black"></div>
        <li>
          <a href="#"><span class="hover:text-sky-300">Help</span></a>
        </li>
        <div class="line h-[18px] w-[1px] bg-black"></div>
        <li>
          <a href="#"><span class="hover:text-sky-300">About Us</span></a>
        </li>
        <div class="line h-[18px] w-[1px] bg-black"></div>
        <li>
          <a href="#"><span class="hover:text-sky-300">Sign In</span></a>
        </li>
      </ul>
    </div>
  </header>
</div>
