<!-- header section -->
<section class="kid-content-layout">
  <header class="header-layout w-full items-center justify-center flex">
    <div
      class="head-bar lg:items-center justify-between w-full max-w-[1850px] py-[36px] flex lg:flex-row flex-col p-6">
      <!-- logo nike -->
      <div class="imgage-logo size-[50px] flex items-center justify-between">
        <a class="jordan-logo" href="">
          <p class="text-[26px]">Kids</p>
        </a>
      </div>
      <!-- right side text -->
      <div>
        <ul class="grid grid-cols-6 gap-8 text-[16px]">
          <li>
            <a href="#"><span class="hover:text-sky-300">Shoes</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-sky-300">Clothing</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-sky-300">Sport</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-sky-300">Mini</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-sky-300">New</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-sky-300">Sale</span></a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</section>

<!-- hero section -->
<!-- hero section -->
<section>
  <div class="relative flex w-full">
    <!-- image -->
    <div>
      <img src="../images/home-picture/k1.jpeg" alt="" />
    </div>

    <!-- video -->
    <div class="absolute top-[60px] right-[75px] transform rotate-3">
      <video
        muted
        autoplay
        class="object-cover w-[560px] h-[600px] border-1 rounded-[35px]"
        src="../images/home-picture/Skate.mp4"></video>
    </div>
  </div>
</section>
