<script src="../script/btn.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" href="../styles/style.css" />

<!-- header section -->
<section class="kid-content-layout">
  <header class="header-layout w-full items-center justify-center flex">
    <div
      class="head-bar lg:items-center justify-between w-full max-w-[1850px] py-[36px] flex lg:flex-row flex-col p-6">
      <!-- logo nike -->
      <div class="imgage-logo size-[50px] flex items-center justify-between">
        <a class="jordan-logo" href="">
          <p class="text-[26px]">Kids</p>
        </a>
      </div>
      <!-- right side text -->
      <div>
        <ul class="grid grid-cols-6 gap-8 text-nowrap text-[16px]">
          <li>
            <a href="#"><span class="hover:text-gray-300">Shoes</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-gray-300">Clothing</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-gray-300">Sport</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-gray-300">Mini</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-gray-300">New</span></a>
          </li>

          <li>
            <a href="#"><span class="hover:text-gray-300">Sale</span></a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</section>

<!-- hero section -->
<section>
  <div class="w-full px-4">
    <!-- image -->
    <div class="w-full relative mx-auto">
      <img
        class="w-full hidden sm:flex"
        src="../images/home-picture/k1.jpeg"
        alt="" />
      
    </div>
    <div class="w-full h-full flex justify-between sm:hidden px-4 bg-gradient-to-r from-red-500 via-purple-500 to-red-500">
      <span class="max-w-screen-sm mx-auto py-6">
        <video
        autoplay
        muted
        loop
        class="rounded-[50px] rotate-2 max-h-[500px] "
        src="../images/home-picture/Skate.mp4"></video>
      </span>
    </div>
  </div>
</section>

<!-- slogan promotion -->
<section>
  <div class="w-full max-w-screen-2xl mx-auto pt-10">
    <div class="sm:text-center text-start sm:px-0 px-4">
      <h1 class="titlekid sm:text-[60px] text-[36px] font-bold">
        NIKE SB DAY ONE
      </h1>
      <p class="pb-6">Made to skate. Designed to support you from the start.</p>
      <btn-component title="Shop" customClass="bg-black"></btn-component>
    </div>
  </div>
</section>

<!-- title -->
<div
  class="w-full max-w-[1800px] px-4 pt-10 mx-auto justify-between items-center">
  <p class="text-[26px] pb-4">Featured</p>
</div>
<!-- sizes for All -->
<section
  class="w-full max-w-[1800px] mx-auto grid md:grid-cols-2 grid-flow-col-1 gap-3 px-4">
  <!-- left content -->
  <div class="max-w-[1800px]">
    <div class="w-full">
      <div class="relative">
        <img
          class="w-full h-full object-cover"
          src="../images/home-picture/h1.jpeg"
          alt="" />
        <div
          class="md:absolute md:mb-0 mb-10 bottom-10 left-10 flex flex-col items-start">
          <p class="text-black text-[24px] md:pt-0 pt-4">Big Kids</p>
          <p class="text-black md:pb-4 pb-5 md:pt-0 pt-4">
            Explore apparel (XS-XL) and shoes (3.5-7Y).
          </p>
          <btn-component title="Shop" customClass="bg-black"></btn-component>
        </div>
      </div>
    </div>

    <div class="w-full mt-4">
      <div class="relative">
        <img
          class="w-full h-full object-cover"
          src="../images/home-picture/h3.jpeg"
          alt="" />
        <div
          class="md:absolute md:mb-0 mb-10 bottom-10 left-10 flex flex-col items-start">
          <p class="text-black text-[24px] md:pt-0 pt-4">Little Kids</p>
          <p class="text-black md:pb-4 pb-5md:pt-1 pt-3 hidden md:flex">
            Explore apparel (4-7) <br />
            and shoes (10.5C-3Y).
          </p>
          <p class="text-black pb-5 pt-3 flex md:hidden">
            Explore apparel (4-7) and shoes (10.5C-3Y).
          </p>
          <btn-component title="Shop" customClass="bg-black"></btn-component>
        </div>
      </div>
    </div>
  </div>

  <!-- right content -->
  <div class="max-w-[1800px]">
    <div class="w-full">
      <div class="relative">
        <img
          class="w-full h-full object-cover"
          src="../images/home-picture/h2.jpeg"
          alt="" />
        <div
          class="md:absolute md:mb-0 mb-10 bottom-10 left-10 flex flex-col items-start">
          <p class="text-black text-[24px] md:pt-0 pt-4">Babies and Toddlers</p>
          <p class="text-black md:pb-4 pb-5md:pt-1 pt-3 hidden md:flex">
            Explore apparel (0M-4T) <br />
            and shoes (0C-10C)
          </p>
          <p class="text-black pb-4 pt-3 flex md:hidden">
            Explore apparel (0M-4T) and shoes (0C-10C)
          </p>
          <btn-component title="Shop" customClass="bg-black"></btn-component>
        </div>
      </div>
    </div>

    <div class="w-full mt-4">
      <div class="relative">
        <img
          class="w-full h-full object-cover"
          src="../images/home-picture/h4.jpeg"
          alt="" />
        <div
          class="md:absolute md:mb-0 mb-10 bottom-10 left-10 flex flex-col items-start">
          <p class="text-black text-[24px] md:pt-0 pt-4">Teen Essentials/p></p>
          <p class="text-black md:pb-4 pb-5 md:pt-1 pt-3">
            Explore apparel (XS-XL) and shoes (3.5-5Y)
          </p>
          <btn-component title="Shop" customClass="bg-black"></btn-component>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- popular right now -->
<section class="w-full px-4 max-w-[1800px] pt-12 mx-auto">
  <div class="bg-white flex justify-between py-4">
    <div class="w-full flex justify-between">
      <p class="text-[26px]">Popular Rigth Now</p>
      <div class="space-x-4">
        <button
          id="prev-btn"
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button
          id="next-btn"
          class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="w-full max-w-[1800px] flex mx-auto overflow-x-hidden">
    <div class="flex gap-2 text-start duration-300" id="slider">
      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/f5.png"
            alt="" />
          <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
          <p class="text-gray-300 py-2">Big Kids' Shoes</p>
          <p class="text-[18px]">$130</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/f4.png"
            alt="" />
          <h1 class="font-medium pt-2">Nike Air Max Dn</h1>

          <p class="text-gray-300 py-2">Big Kids' Shoes</p>
          <p class="text-[18px]">$140</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/f3.png"
            alt="" />
          <h1 class="font-medium pt-2">Nike Dunk Low</h1>
          <p class="text-gray-300 py-2">Baby/Toddler Shoes</p>
          <p class="text-[18px]">$190</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/f4.png"
            alt="" />
          <h1 class="font-medium pt-2">Air Jordan 4 Retro</h1>
          <p class="text-gray-300 py-2">Big Kids' Shoes</p>
          <p class="text-[18px]">$140</p>
        </div>
      </div>
      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="object-cover"
            src="../images/home-picture/f5.png"
            alt="" />
          <h1 class="font-medium pt-2">Jordan 4 Retro</h1>
          <p class="text-gray-300 py-2">Little Kids' Shoes</p>
          <p class="text-[18px]">$110</p>
        </div>
      </div>

      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="object-cover"
            src="../images/home-picture/ky2.jpeg"
            alt="" />
          <h1 class="font-medium pt-2">Air Jordan 1 High OG</h1>
          <p class="text-gray-300 py-2">Big Kids' Shoes</p>
          <p class="text-[18px]">$140</p>
        </div>
      </div>

      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="object-cover"
            src="../images/home-picture/f3.png"
            alt="" />
          <h1 class="font-medium pt-2">Ja 1 "Day</h1>
          <p class="text-gray-300 py-2">Big Kids' Shoes</p>
          <p class="text-[18px]">$130</p>
        </div>
      </div>

      <div class="w-full" id="card-slider">
        <div class="w-[400px]">
          <img
            class="object-cover"
            src="../images/home-picture/Nike Air Max 97 Men's Shoe (Black).jpeg"
            alt="" />
          <h1 class="font-medium pt-2">Nike Air Max Dn</h1>
          <p class="text-gray-300 py-2">Big Kids' Shoes</p>
          <p class="text-[18px]">$110</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Trending -->
<section>
  <div class="pt-12">
    <div class="flex max-w-[1800px] px-4 mx-auto justify-between items-center">
      <p class="pb-4 text-[26px]">Featured</p>
    </div>
    <!-- images -->
    <div class="flex gap-2 px-4 justify-center max-w-[1800px] mx-auto">
      <div class="relative hidden md:flex">
        <div class="image-shop1">
          <img src="../images//home-picture/kt2.jpeg" alt="" />
        </div>
        <div class="btn-shop1 absolute left-16 bottom-20 leading-8">
          <p class="text-white text-[26px]">Jordan Summer Styles</p>
          <button
            class="mt-6 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
            Shop
          </button>
        </div>
      </div>

      <div class="relative hidden md:flex">
        <div class="image-shop2">
          <img src="../images/home-picture/kt1.jpeg" alt="" />
        </div>
        <div class="btn-shop2 absolute left-16 bottom-20 leading-8">
          <p class="text-white text-[26px]">The Lastest Air Max</p>
          <button
            class="mt-6 bg-white h-[35px] w-[70px] rounded-full hover:bg-gray-300">
            Shop
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- More to Explore -->
<section>
  <div
    class="flex max-w-[1800px] px-4 mx-auto pt-12 justify-between items-center">
    <p class="text-[26px] pb-4">More to Explore</p>
  </div>
  <div class="w-full max-w-[1800px] px-4 flex mx-auto overflow-x-hidden">
    <div class="flex gap-3 text-start duration-300">
      <div class="w-full">
        <div class="max-w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ky1.jpeg"
            alt="" />
          <h1 class="text-[20px] pt-2">Shoes $70 & Under</h1>
          <button class="hover:underline text-black pt-6">Shop</button>
        </div>
      </div>

      <div class="w-full">
        <div class="max-w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ky2.jpeg"
            alt="" />
          <h1 class="text-[20px] pt-2">NEw from Nike Basketball</h1>
          <button class="hover:underline text-black pt-6">Shop</button>
        </div>
      </div>

      <div class="w-full">
        <div class="max-w-[600px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ky3.jpeg"
            alt="" />
          <h1 class="text-[20px] pt-2">Easy On & Off Shoes</h1>
          <button class="hover:underline text-black pt-6">Shop</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Classic Spotlight -->
<section class="w-full px-4 max-w-[1800px] pt-12 mx-auto">
  <div
    class="w-full pt-6 pb-4 max-w-[1800px] mx-auto flex justify-between items-center">
    <p class="text-[26px]">Classic Spotlight</p>
    <span class="space-x-2">
      <button
        id="classic-prev"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        id="classic-next"
        class="hover:text-white w-[40px] h-[40px] rounded-full bg-gray-200">
        <i class="fa-solid fa-chevron-right"></i></button
    ></span>
  </div>

  <div class="max-w-[1800px] mx-auto overflow-x-hidden">
    <div class="flex gap-2 text-center duration-300" id="classic-slider">
      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks5.jpeg"
            alt="" />
        </div>
      </div>
      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks1.jpeg"
            alt="" />
        </div>
      </div>
      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks3.jpeg"
            alt="" />
        </div>
      </div>
      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks4.jpeg"
            alt="" />
        </div>
      </div>
      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks5.jpeg"
            alt="" />
        </div>
      </div>

      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks1.jpeg"
            alt="" />
        </div>
      </div>
      <div class="w-full" id="classic-img">
        <div class="w-[400px]">
          <img
            class="w-full h-full object-cover"
            src="../images/home-picture/ks2.jpeg"
            alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
